<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <p><%= link_to '新規タスクの登録', new_task_path, class: "btn btn-primary"%>　<%= link_to '自分のタスクを見る', user_path(current_user), class: "btn btn-primary" %></p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
